<%= simple_form_for(@institution) do |f| %>
  <div class="form-inputs">
    <%= f.input :name, input_html: { autofocus: true, maxlength: 255 } %>
    <%= f.input :identification, hint: t('view.institutions.hints.identification.html', domain: request.domain), input_html: { maxlength: 255 } %>
    <%= f.input :district_id, collection: @regions, as: :grouped_select, group_method: :districts %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
