<% if @institutions.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-condensed resource-list">
    <thead>
      <tr>
        <th><%= Institution.human_attribute_name 'name' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @institutions.each do |institution| %>
        <tr>
          <td>
            <%= link_to_if current_user.has_job_in?(institution), institution,
              root_url(subdomain: institution.identification) %>
          </td>
          <td><%= link_to_show institution if can? :read, institution %></td>
          <td>
            <%= link_to_edit edit_institution_path(institution) if can? :update, institution %>
          </td>
          <td>
            <%= link_to_destroy institution if can? :destroy, institution %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= pagination_links(@institutions) %>
<% end %>

<nav class="form-actions">
  <%= link_to(
    t('view.institutions.new', default: :'label.new'),
    new_institution_path, class: 'btn btn-primary'
    ) if can? :create, Institution
  %>
</nav>
