<% users = [user.to_s] + user.relatives.map(&:to_s) %>
<div class="modal fade" id="email_modal_<%= user.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h3 class="modal-title">
          <%= t('view.teaches.email_enrollment_scores.header.html', user: user.name) %>
        </h3>
      </div>
      <div class="modal-body">
        <%= t(
          'view.teaches.email_enrollment_scores.body.html',
          user: user.name,
          users: users.to_sentence
        ) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t('label.close') %>
        </button>
        <%= link_to(
          t('label.send'),
          send_email_summary_user_enrollment_path(user, enrollment, format: :html),
          class: 'btn btn-primary send_email_summary', method: :post, remote: true,
          data: {
            'loading-text' => t('label.sending'), 'complete-text' => t('label.sent')
          }
        ) %>
      </div>
    </div>
  </div>
</div>
