<%= simple_form_for((@teach.new_record? ? [@course, @teach] : @teach), defaults: { input_html: { class: 'span12' } }) do |f| %>
  <div class="form-inputs">
    <div class="row-fluid">
      <div class="span6">
        <%= f.input :start, as: :date_picker, input_html: { autofocus: action_name == 'new' } %>
      </div>
      <div class="span6">
        <%= f.input :finish, as: :date_picker %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= f.input :description, input_html: { rows: 5 } %>
      </div>
    </div>

    <ul class="nav nav-tabs" <%= 'data-remote="true"' if @teach.persisted? %>>
      <% unless @teach.new_record? %>
        <li class="active">
          <%= link_to(
            Teach.human_attribute_name('contents', count: 0),
            '#contents_container', data: { toggle: 'tab' }
          ) %>
        </li>
      <% end %>
      <% if @teach.persisted? %>
        <li>
          <%= link_to(
            t('view.teaches.enter_scores'), '#scores_container', data: {
              'toggle' => 'tab', 'remote-url' => edit_scores_teach_path(@teach)
            }
          ) %>
        </li>
      <% end %>
      <li class="<%= 'active' if @teach.new_record? %>">
        <% data = { 'toggle' => 'tab' } %>
        <% data['remote-url'] = edit_enrollments_teach_path(@teach) if @teach.persisted? %>
        <%= link_to(
          Teach.human_attribute_name('enrollments', count: 0),
          '#enrollments_container', data: data
        ) %>
      </li>
    </ul>

    <div class="tab-content">
      <% unless @teach.new_record? %>
        <div id="contents_container" class="tab-pane active">
          <% unless @teach.contents.empty? %>
            <ul>
              <% @teach.contents.each do |content| %>
                <li>
                  <%= link_to_if(
                    can?(:read, content), content, [@teach, content]
                  ) %>
                  <% if can?(:destroy, content) %>
                    | <%= link_to_destroy [@teach, content]  %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <%= link_to(
            t('view.teaches.new_content'), new_teach_content_path(@teach),
            class: 'btn btn-small'
          ) if can? :create, @teach.contents.build%>
        </div>

        <div id="scores_container" class="tab-pane">
          <div class="alert"><%= t('label.loading') %></div>
        </div>
      <% end %>

      <div id="enrollments_container" class="tab-pane <%= @teach.new_record? ? 'active' : '' %>">
        <% if @teach.new_record? %>
          <%= render template: 'teaches/edit_enrollments' %>
        <% else %>
          <div class="alert"><%= t('label.loading') %></div>
        <% end %>
      </div>
    </div>

    <% if @teach.persisted? && @teach.forums.empty? %>
      <hr />
      <%= link_to t('view.forums.new'), new_teach_forum_path(@teach), class: 'btn btn-small btn-inverse' if current_institution && can?(:create, @teach.forums.build) %>
    <% elsif @teach.persisted? %>
      <h3>
        <%= link_to_if current_institution && can?(:read, Forum), Forum.model_name.human(count: @teach.forums.size), teach_forums_path(@teach) %>
        <% if current_institution && can?(:create, @teach.forums.build) %>
          <span class="divider">|</span>
          <%= link_to t('view.forums.new'), new_teach_forum_path(@teach), class: 'btn btn-mini' %>
        <% end %>
      </h3>

      <ul>
        <% @teach.forums.reject(&:new_record?).each do |forum| %>
          <li><%= link_to_if current_institution && can?(:read, forum), forum.to_s, [@teach, forum] %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
