<%= simple_form_for([@course, @teach]) do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var enrollment='#{generate_template(f, :enrollments)}';" %>
  <% end %>

  <div class="form-inputs">
    <%= f.input :start, as: :date_picker, input_html: { autofocus: true } %>
    <%= f.input :finish, as: :date_picker %>
    
    <h5><%= Teach.human_attribute_name('enrollments', count: 0) %></h5>

    <div id="enrollments">
      <% @teach.enrollments.build %>
      <%= f.simple_fields_for :enrollments do |j_f| %>
        <%= render partial: 'enrollment', locals: { f: j_f } %>
      <% end %>
    </div>
    
    <div class="pull-left">
      <%= link_to t('view.teaches.new_enrollment'), '#',
        data: {
          'dynamic-form-event' => 'addNestedItem',
          'dynamic-template' => 'enrollment',
          'dynamic-container' => '#enrollments',
          'show-tooltip' => true
        }, class: 'btn btn-small', title: t('view.teaches.new_enrollment') %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
