<%= simple_form_for((@teach.new_record? ? [@course, @teach] : @teach)) do |f| %>
  <div class="form-inputs">
    <%= f.input :start, as: :date_picker, input_html: { autofocus: true } %>
    <%= f.input :finish, as: :date_picker %>
    
    <ul class="nav nav-tabs">
      <% unless @teach.new_record? %>
        <li class="active">
          <%= link_to(
            Teach.human_attribute_name('contents', count: 0),
            '#contents_container', data: { toggle: 'tab' }
          ) %>
        </li>
      <% end %>
      <li>
        <%= link_to(
          t('view.teaches.enter_scores'),
          '#scores_container', data: { toggle: 'tab' }
        ) %>
      </li>
      <li class="<%= @teach.new_record? ? 'active' : '' %>">
        <%= link_to(
          Teach.human_attribute_name('enrollments', count: 0),
          '#enrollments_container', data: { toggle: 'tab' }
        ) %>
      </li>
    </ul>
    
    <div class="tab-content">
      <% unless @teach.new_record? %>
        <div id="contents_container" class="tab-pane active">
          <% unless @teach.contents.empty? %>
            <ul>
              <% @teach.contents.each do |content| %>
                <li>
                  <%= link_to_if(
                    can?(:read, content), content, [@teach, content]
                  ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <%= link_to(
            t('view.teaches.new_content'), new_teach_content_path(@teach),
            class: 'btn btn-small'
          ) if can? :create, @teach.contents.build%>
        </div>
      <% end %>
      <div id="scores_container" class="tab-pane">
        <% if @teach.enrollments.empty? %>
          <div class="alert"><%= t('view.teaches.without_entollments_in_edit.html') %></div>
        <% else %>
          <div class="row-fluid">
            <div class="span6">&nbsp;</div>
            <div class="span2">
              <%= text_field_tag(
                'global_multiplier', nil,
                id: 'global_multiplier',
                class: 'span10',
                placeholder: t('view.teaches.global_multiplier'),
                data: { target: 'input.multiplier' }
              ) %>
            </div>
            <div class="span4">
              <%= text_field_tag(
                'global_description', nil,
                id: 'global_description',
                class: 'span10',
                placeholder: t('view.teaches.global_description'),
                data: { target: 'input.description' }
              ) %>
            </div>
          </div>
          <div id="scores">
            <%= f.simple_fields_for :scores, build_new_teach_scores(@teach), defaults: { input_html: { class: 'span10' } } do |j_f| %>
              <%= render partial: 'score', locals: { f: j_f } %>
            <% end %>
          </div>
        <% end %>
      </div>
      
      <div id="enrollments_container" class="tab-pane <%= @teach.new_record? ? 'active' : '' %>">
        <% @teach.enrollments.build %>
        <%= f.simple_fields_for :enrollments do |j_f| %>
          <%= render partial: 'enrollment', locals: { f: j_f } %>
        <% end %>

        <%= link_to_add_fields t('view.teaches.new_enrollment'), f, :enrollments %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
