<% if @teaches.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <caption>
          <h4>
            <% grade = @course.grade %>
            <%= t(
              'view.teaches.from_course.html',
              count: @course.teaches.count,
              course: link_to_if(can?(:read, @course), @course.to_s, [@course.grade, @course]),
              grade: link_to_if(can?(:read, grade), grade.to_s, [grade.institution, grade]),
              institution: link_to_if(can?(:read, grade.institution), grade.institution.to_s, grade.institution)
            ) %></h4>
          <br />
        </caption>
        <thead>
          <tr>
            <th><%= Teach.human_attribute_name 'start' %></th>
            <th><%= Teach.human_attribute_name 'finish' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @teaches.each do |teach| %>
            <tr>
              <td><%= l teach.start %></td>
              <td><%= l teach.finish %></td>
              <td><%= link_to_show [@course, teach] if can? :read, teach %></td>
              <td><%= link_to_edit edit_course_teach_path(@course, teach) if can? :update, teach %></td>
              <td><%= link_to_destroy [@course, teach] if can? :destroy, teach %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@teaches) %>
<% end %>

<nav class="form-actions">
  <%= link_to(
    t('view.teaches.new', default: :'label.new'),
    new_course_teach_path(@course), class: 'btn btn-primary'
    ) if can? :create, @course.teaches.build
  %>
</nav>
