<%= render 'breadcrumb' %>

<div class="readonly_data">
  <h2><%= @course %></h2>
  
  <p>
    <%= t(
      'view.teaches.between.html',
      start: l(@teach.start, format: :long),
      finish: l(@teach.finish, format: :long)
    ) %>
  </p>
  
  <% unless @teach.enrollments.empty? %>
    <% teach_splited_enrollments(@teach).each do |type, enrollments| %>
      <h4><%= type %></h4>
      <ul>
        <% enrollments.each do |enrollment| %>
          <li>
            <%= t(
              'view.teaches.enrollment_info.html',
              user: link_to(enrollment.user.to_s, enrollment.user),
              date: l(enrollment.created_at, format: :long)
            ) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_course_teach_path(@course, @teach), class: 'btn btn-primary' %>
  <div class="pull-right">
    <%= link_to t('label.list'), course_teaches_path(@course) %>
  </div>
</nav>