<%= render 'breadcrumb' %>

<div class="readonly-data">
  <h2><%= @course %></h2>
  
  <p>
    <%= t(
      'view.teaches.between.html',
      start: l(@teach.start, format: :long),
      finish: l(@teach.finish, format: :long)
    ) %>
  </p>

  <%= markdown @teach.description if @teach.description.present? %>

  <% unless @teach.forums.empty? %>
    <hr />
    <h3><%= Forum.model_name.human(count: @teach.forums.size) %></h3>
    <ul>
      <% @teach.forums.each do |forum| %>
        <li><%= link_to_if current_institution && can?(:read, forum), forum.to_s, [@teach, forum] %></li>
      <% end %>
    </ul>
  <% end %>
  
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to(
        Teach.human_attribute_name('contents', count: 0),
        '#contents_container', data: { toggle: 'tab' }
      ) %>
    </li>
    <% unless current_user_is_student? %>
      <li>
        <%= link_to(
          Teach.human_attribute_name('scores', count: 0),
          '#scores_container', data: { toggle: 'tab' }
        ) %>
      </li>
      <li>
        <%= link_to(
          Teach.human_attribute_name('enrollments', count: 0),
          '#enrollments_container', data: { toggle: 'tab' }
        ) %>
      </li>
    <% end %>
  </ul>
  
  <div class="tab-content">
    <div id="contents_container" class="tab-pane active">
      <% if @teach.contents.empty?  %>
        <div class="alert"><%= t('view.teaches.without_contents.html') %></div>
      <% else %>
        <ul>
          <% @teach.contents.each do |content| %>
            <li>
              <%= link_to_if(
                can?(:read, content), content, [@teach, content]
              ) %>
              <% if content.visited_by?(current_user) %>
                <span class="visited iconic">&#x2714;</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <% unless current_user_is_student? %>
      <div id="scores_container" class="tab-pane">
        <% if @teach.scores.empty? %>
          <div class="alert"><%= t('view.teaches.without_scores.html') %></div>
        <% else %>
          <% grouped_scores = teach_scores_grouped_by_student(@teach) %>
          <table class="table table-striped table-bordered table-condensed">
            <thead>
              <tr>
                <th><%= Score.human_attribute_name 'user_id' %></th>
                <th colspan="<%= grouped_scores.first.last.size %>"></th>
              </tr>
            </thead>
            <tbody>
              <% grouped_scores.each do |user, scores| %>
                <%= content_for :modal_dialogs do %>
                  <%= render partial: 'email_enrollment_score_dialog', locals: {
                    user: user, enrollment: @teach.enrollment_for(user)
                  } %>
                <% end %>
                <tr>
                  <td>
                    <%= link_to(
                      '&#x2709;'.html_safe, "#email_modal_#{user.id}",
                      class: 'iconic', data: { toggle: 'modal' }
                    ) if can? :send_email_summary, @teach.enrollment_for(user) %>
                    <%= user %>
                  </td>
                  <% scores.each do |score| %>
                    <td><%= show_teach_score_details score %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      
      <div id="enrollments_container" class="tab-pane">
        <% if @teach.enrollments.empty? %>
          <div class="alert"><%= t('view.teaches.without_entollments_in_show.html') %></div>
        <% else %>
          <% teach_splited_enrollments(@teach).each do |type, enrollments| %>
            <h4><%= type %></h4>
            <ul>
              <% enrollments.each do |enrollment| %>
                <li>
                  <%= t(
                    'view.teaches.enrollment_info.html',
                    user: link_to_if(can?(:read, enrollment.user), enrollment.user.to_s, enrollment.user),
                    date: l(enrollment.created_at, format: :long)
                  ) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_teach_path(@teach), class: 'btn btn-primary' if can? :update, @teach %>
  <%= link_to t('view.teaches.send_email_summary.html'), '#email_modal', class: 'btn', data: { toggle: 'modal' } if can? :send_email_summary, @teach %>
  <% if @course && can?(:read, @course) %>
    <div class="pull-right">
      <%= link_to t('label.list'), course_teaches_path(@course) %>
    </div>
  <% end %>
</nav>

<%= yield :modal_dialogs %>
<% if can? :send_email_summary, @teach %>
  <%= render partial: 'email_teach_score_dialog', locals: {
    teach: @teach, course: @course
  } %>
<% end %>
