<div class="page-header">
  <h1>
    <%= t(
      'view.dashboard.greetings.html', user: current_user.name,
      institution: current_institution.name
    ) %>
  </h1>
</div>
<% if @grades.empty? %>
  <div class="alert alert-warning">
    <%= t('view.dashboard.empty_grades.html') %>
  </div>
  <br />
<% else %>
  <% @grades.each_slice(2) do |grades| %>
    <div class="row">
      <% grades.each do |grade| %>
        <div class="col-md-6">
          <h3><%= link_to grade.to_s, [grade.institution, grade] %></h3>

          <div class="page-header">
            <h5>
              <%= link_to_if(
                can?(:read, Course), Course.model_name.human(count: grade.courses.size),
                grade_courses_path(grade)
              ) %>
              <% if can? :create, grade.courses.build %>
                <span class="divider">|</span>
                <%= link_to t('view.courses.new'), new_grade_course_path(grade),
                  class: 'btn btn-default btn-xs' %>
              <% end %>
            </h5>
          </div>

          <% unless grade.courses.reject!(&:new_record?).blank? %>
            <ul>
              <% grade.courses.reload.each do |course| %>
                <li><%= link_to_if can?(:read, course), course.to_s, [grade, course] %></li>
              <% end %>
            </ul>
          <% end %>

          <div class="form-actions">
            <% if can? :update, grade %>
              <%= link_to(
                t('view.dashboard.janitor.edit_grade'),
                edit_institution_grade_path(grade.institution, grade),
                class: 'btn btn-info btn-sm'
              ) %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<hr />

<div class="form-actions form-footer">
  <% if can? :create, current_institution.grades.build %>
    <%= link_to(
      t('view.grades.new'), new_institution_grade_path(current_institution),
      class: 'btn btn-default'
    ) %>
  <% end %>
  <% if can? :create, User %>
    <%= link_to t('view.users.new'), new_user_path, class: 'btn btn-default' %>
  <% end %>
</div>
