<div class="readonly-data">
  <div class="page-header">
    <h1><%= t('view.dashboard.greetings.html', user: current_user.name, institution: current_institution.name) %></h1>
  </div>
  <% if @enrollments.empty? %>
    <div class="alert">
      <h4 class="alert-heading">
        <%= t('view.dashboard.empty_enrollments.html') %>
      </h4>
    </div>
    <br />
  <% else %>
    <% @enrollments.each_slice(2) do |enrollments| %>
      <div class="row-fluid">
        <% enrollments.each do |enrollment| %>
          <div class="span6">
            <h3><%= show_teach_info enrollment.teach %></h3>
            <br />

            <% if enrollment.scores.empty? %>
              <div class="alert">
                <%= t('view.dashboard.empty_scores.html', course: enrollment.course) %>
              </div>
            <% else %>
              <table class="table table-bordered table-condensed">
                <thead>
                  <tr>
                    <th><%= Score.human_attribute_name 'score' %></th>
                    <th colspan="2"><%= Score.human_attribute_name 'description' %></th>
                  </tr>
                </thead>
                <tbody>
                  <% enrollment.scores.each do |score| %>
                    <tr>
                      <td><%= show_dashboard_score score.score %></td>
                      <td><%= score.description %></td>
                      <td><%= show_dashboard_score_extras score %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <p>
                <%= t(
                  'view.dashboard.score_average.html',
                  average: show_dashboard_score(enrollment.score_average),
                  course: enrollment.course
                ) %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="form-actions"></div>
