<div class="readonly-data">
  <div class="page-header">
    <h1><%= t('view.dashboard.greetings.html', user: current_user.name, institution: current_institution.name) %></h1>
  </div>
  <% if @enrollments.empty? %>
    <div class="alert">
      <h4 class="alert-heading">
        <%= t('view.dashboard.empty_enrollments.html') %>
      </h4>
    </div>
    <br />
  <% else %>
    <% @enrollments.each_slice(2) do |enrollments| %>
      <div class="row-fluid">
        <% enrollments.each do |enrollment| %>
          <div class="span6">
            <h3><%= show_teach_info enrollment.teach %></h3>
            <% if enrollment.teach.scores.empty? %>
              <div class="alert">
                <%= t('view.dashboard.empty_scores.html', course: enrollment.course) %>
              </div>
            <% else %>
              <div class="alert alert-info">
                <%= t(
                  'view.dashboard.score_average.html',
                  average: show_dashboard_score(enrollment.teach.scores.weighted_average),
                  course: enrollment.course
                ) %>
              </div>
            <% end %>
            <div class="form-actions">
              <% if can? :edit, enrollment.teach %>
                <%= link_to(
                  t('view.dashboard.teacher.edit_teach'),
                  edit_teach_path(enrollment.teach),
                  class: 'btn btn-info'
                ) %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="form-actions"></div>
