<%= simple_form_for([@forum.owner, @forum]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { autofocus: true, maxlength: 255 } %>
    <%= f.input :topic, input_html: { rows: 5 } %>
    <%= f.input :info, as: :string %>
  </div>

  <hr />

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
