<div class="readonly-data">
  <div class="page-header">
    <h1>
      <%= @forum %>
    </h1>
      <p>
        <%= t(
          'view.forums.created_by.html',
          user: @forum.user.to_s,
          distance_time: distance_of_time_in_words_to_now(@forum.created_at) 
        ) %>
        
        <% if @forum.info.present? %>
          | <%= @forum.info %>
        <% end %>
      </p>
  </div>

  <blockquote>
    <%= markdown @forum.topic %>
  </blockquote>

  <hr />
  <h3><%= Comment.model_name.human(count: @forum.comments.size) %></h3>

  <%= render partial: 'comment', collection: @forum.comments %>

  <%= render partial: 'new_comment', locals: { comment: @forum.comments.build } %>
</div>

<div class="form-actions">
  <%= link_to(
    t('label.edit'), edit_polymorphic_path([@owner, @forum]),
    class: 'btn btn-primary'
  ) if can? :update, @forum %>

  <div class="pull-right">
    <%= link_to t('label.back'), @owner %>
  </div>
</div>
