<fieldset class="row">
  <div class="col-md-5">
    <%= f.input :name, label: false, input_html: {
      autofocus: true, placeholder: Document.human_attribute_name('name')
    } %>
  </div>
  <div class="col-md-5">
    <%= f.input :file, label: false, hint: document_file_identifier(f.object) %>
    <%= f.input :file_cache, as: :hidden %>
  </div>
  <div class="col-md-2 nested-actions">
    <%= f.input :id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= link_to_remove_nested_item(f) %>
  </div>
</fieldset>
