<%= simple_form_for([@teach, @content], defaults: { input_html: { class: 'span11' } }) do |f| %>
  <%= f.error_notification %>
  <%= f.object.errors.full_messages.join('; ') %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { autofocus: true } %>
    <%= f.input :content, input_html: { rows: 10 }, hint: markdown_help_link %>

    <ul class="nav nav-tabs">
      <li class="active">
        <%= link_to(
          Document.model_name.human(count: 0),
          '#documents_content',
          data: { toggle: 'tab' }
        ) %>
      </li>
      <li>
        <%= link_to(
          Homework.model_name.human(count: 0),
          '#homeworks_content',
          data: { toggle: 'tab' }
        ) %>
      </li>
      <% if show_content_survey? %>
        <li>
          <%= link_to(
            Survey.model_name.human(count: 0),
            '#surveys_content',
            data: { toggle: 'tab' }
          ) %>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="documents_content">
        <%= f.simple_fields_for :documents do |df| %>
          <%= render partial: 'document', locals: { f: df } %>
        <% end %>

        <%= link_to_add_fields t('view.contents.new_document'), f, :documents %>
      </div>
    
      <div class="tab-pane" id="homeworks_content">
        <%= f.simple_fields_for :homeworks do |hf| %>
          <%= render partial: 'homework', locals: { f: hf } %>
        <% end %>

        <%= link_to_add_fields t('view.contents.homeworks.new'), f, :homeworks %>
      </div>

      <% if show_content_survey? %>
        <div class="tab-pane" id="surveys_content">
          <% unless @content.surveys.empty? %>
            <table class="table">
              <%= render 'surveys/survey_headers' %>

              <tbody>
                <% @content.surveys.each do |survey| %>
                  <%= render survey %>
                <% end %>
              </tbody>
            </table>
          <% end %>
          <%= link_to(
            t('view.contents.surveys.new'),
            new_content_survey_path(@content),
            class: 'btn btn-small'
          ) if can? :create, @content.surveys.build %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
<%= render 'help/markdown_inline' %>
