<%= simple_form_for([@teach, @content], defaults: { input_html: { class: 'span11' } }) do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var doc='#{generate_template(f, :documents)}';" %>
  <% end %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, input_html: { autofocus: true } %>
    <%= f.input :content, input_html: { rows: 10 } %>

    <div id="documents">
      <%  @content.documents.build unless @content.documents.detect(&:new_record?) %>
      <%= f.simple_fields_for :documents do |df| %>
        <%= render partial: 'document', locals: { f: df } %>
      <% end %>
    </div>

    <div class="pull-left">
      <%= link_to t('view.contents.new_document'), '#',
        data: {
          'dynamic-form-event' => 'addNestedItem',
          'dynamic-template' => 'doc',
          'dynamic-container' => '#documents',
          'show-tooltip' => true
        }, class: 'btn btn-small', title: t('view.contents.new_document') %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
