<% @content.surveys.each do |survey| %>
  <h3><%= survey %></h3>

  <ul>
    <% survey.questions.each do |question| %>
      <li>
        <% if current_user_is_student? %>
          <% if question.has_been_answered_by? current_user %>
            <%= render template: 'replies/show', locals: { :@question => question } %>
          <% else %>
            <%= render 'replies/form', :@question => question, :@reply => question.replies.build %>
          <% end %>
        <% else %>
          <%= question %>
          <%= render "surveys/question_type_show_templates/#{question.question_type}", :@question => question %>
        <% end %>
      </li>
      <br />
    <% end %>
  </ul>
<% end %>
