<%= render 'breadcrumb' %>

<div class="readonly-data">
  <div class="page-header">
    <h1><%= @content %></h1>
  </div>

  <%= markdown @content.content if @content.content.present? %>
</div>

<div class="form-actions">
  <%= link_to t('label.edit'), edit_teach_content_path(@teach, @content), class: 'btn btn-primary' if can? :update, @content %>

  <% if can? :read, Content %>
    <div class="pull-right">
      <%= link_to t('label.list'), teach_contents_path(@teach) %>
    </div>
  <% end %>
</div>
