<%= render 'breadcrumb' %>

<div class="readonly-data">
  <div class="page-header">
    <h1><%= @content %></h1>
  </div>

  <%= markdown @content.content if @content.content.present? %>

  <% unless @content.documents.empty? %>
    <h3><%= Document.model_name.human(count: @content.documents.size) %></h3>

    <ul>
      <% @content.documents.each do |document| %>
        <li>
          <%= link_to_if can?(:read, document), document, document.file_url %>
          (<%= number_to_human_size document.file_size %>)
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @content.surveys.present? && @teach.current? %>
    <hr />
    <% @content.surveys.each do |survey| %>
      <h3><%= survey %></h3>

      <ul>
        <% survey.questions.each do |question| %>
          <li>
            <% if question.has_been_answered_by? current_user %>
              <%= render template: 'replies/show', locals: { question: question } %>
            <% else %>
              <%= render 'replies/form', question: question %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if @content.homeworks.present? && @teach.current? %>
    <hr />
    <% @content.homeworks.each do |homework| %>
      <h3><%= homework %></h3>
      <% if current_user_is_student? %>
        <% presentation = current_user.presentations.for_homework(homework) %>

        <% if presentation %>
          <%= t(
            'view.contents.presentations.presented.html',
            link: link_to(presentation.file.file.identifier, presentation.file.url)
          ) %>
        <% elsif can?(:create, homework.presentations.build) %>
          <%= markdown homework.description if homework.description.present? %>
          <%= render_new_homework_presentation_form(homework) %>
        <% end %>
      <% else %>
        <%= render_homework_presentations(homework) %>
      <% end %>
    <% end %>
  <% end %>

  <%= content_next_and_prev_links(@teach, @content) %>
</div>

<div class="form-actions">
  <%= link_to t('label.edit'), edit_teach_content_path(@teach, @content), class: 'btn btn-primary' if can? :update, @content %>
</div>
