<%= render 'breadcrumb' %>

<div class="readonly-data">
  <div class="page-header">
    <h1><%= @content %></h1>
  </div>

  <%= markdown @content.content if @content.content.present? %>

  <% unless @content.documents.empty? %>
    <h3><%= Document.model_name.human(count: @content.documents.size) %></h3>

    <ul>
      <% @content.documents.each do |document| %>
        <li>
          <%= link_to_if can?(:read, document), document, document.file_url %>
          (<%= number_to_human_size document.file_size %>)
        </li>
      <% end %>
    </ul>
  <% end %>

  <% unless @content.surveys.empty? %>
    <hr />
    <% @content.surveys.each do |survey| %>
      <h3><%= survey %></h3>

      <ul>
        <% survey.questions.each do |question| %>
          <li>
            <% if question.has_been_answered_by? current_user %>
              <%= render template: 'replies/show', locals: { question: question } %>
            <% else %>
              <%= render 'replies/form', question: question %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<div class="form-actions">
  <%= link_to t('label.edit'), edit_teach_content_path(@teach, @content), class: 'btn btn-primary' if can? :update, @content %>

  <% if can? :read, Content %>
    <div class="pull-right">
      <%= link_to t('label.list'), teach_contents_path(@teach) %>
    </div>
  <% end %>
</div>
