<%= simple_form_for([@question, @reply], reply_form_options) do |f| %>
  <p><strong><%= @question %></strong></p>

  <%= render "replies/question_type_templates/#{@question.question_type}", f: f %>

  <% if reply_rendered_inline? %>
    <%= link_to(
      t('label.cancel'), [@question, @reply],
      class: 'btn btn-default btn-xs', data: { remote: true }
    ) if @reply.persisted? %>
  <% else %>
    <div class="form-actions">
      <div class="pull-right"><%= yield :form_actions %></div>
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
