<%= render 'breadcrumb', :@teach => @survey.teach, :@content => @survey.content %>

<div class="readonly-data">
  <h3><%= @survey %></h3>
  <p>
    <%= User.model_name.human(count: 1) %>: 
    <%= @user %>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th><%= Question.model_name.human(count: 1) %></th>
        <th><%= Reply.model_name.human(count: 1) %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @replies.where(user_id: @user.id).each do |reply| %>
      <tr>
        <td><%= reply.question %></td>
        <td><%= reply.response.present? ? reply.response : reply.answer %></td>
        <td><%= link_to_comments(reply, reply_comments_path(reply)) if can? :read, reply %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="form-actions">
  
</div>
