<span class="comment-anchor" id="<%= comment.anchor %>"></span>
<div class="media">
  <div class="pull-left">
    <% if comment.user.avatar? %>
      <%= show_user_avatar(comment.user, :micro_thumb) %>
    <% else %>
      <%= show_user_default_avatar(:micro) %>
    <% end %>
  </div>

  <div class="media-body">
    <div class="well well-small">
      <small>
        <%= t(
          'view.forums.created_by.html',
          user: comment.user.to_s,
          distance_time: distance_of_time_in_words_to_now(comment.created_at)
        ) %>
      </small>

      <% if @commentable.can_vote_comments? %>
        <% vote = comment.voted_by(current_user) || comment.votes.build %>
        <span id="<%= comment.anchor_vote %>" class="pull-right">
          <%= vote.new_record? ? link_to_like(vote) : link_to_dislike(vote) %>
        </span>
      <% end %>
    </div>

    <blockquote>
      <%= markdown comment.comment %>
    </blockquote>
  </div>

  <hr />
</div>
