<% if controller_name == 'comments' %>
  <%= render @commentable %>
<% end %>

<div class="row-fluid">
  <div class="span12">
    <div class="readonly-data">
      <div id="comments">
        <hr />
        <h3 id="comments-header">
          <%= Comment.model_name.human(count: @comments.size) %>
        </h3>

        <%= render @comments %>

        <%= render 'comments/pagination', :@comments => @comments %>

        <%= render @comment_anchor if @comment_anchor && !@comments.include?(@comment_anchor) %>
      </div>

      <%= render 'comments/form' %>
    </div>
  </div>
</div>

<% if controller_name == 'comments' %>
  <div class="form-actions"></div>
<% end %>
