<% if @presentations.empty? %>
  <%= render 'shared/empty_index', controller_name: 'presentations' %>
<% else %>
  <div class="row">
    <div class="span11">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= User.model_name.human %></th>
            <th><%= Presentation.human_attribute_name 'file' %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @presentations.each do |presentation| %>
            <tr>
              <td><%= presentation.user %></td>
              <td><%= link_to presentation.file.file.identifier, presentation.file.url %></td>
              <td><%= render template: 'conversations/show', locals: { :@conversable => presentation } %></td>
              <td><%= link_to_destroy [@content, @homework, presentation] if can? :destroy, presentation %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
