<h2>
  <%= t('notifier.new_comment.greeting.html', commentable: @commentable) %>
</h2>

<p><%= t('notifier.new_comment.user_say.html', user: @comment.user) %></p>

<blockquote>
  <%= markdown @comment.comment %>
</blockquote>

<p>
  <%= link_to(t('notifier.new_comment.view'), comment_url) %>
</p>

<%= render 'footer' %>
