<%= simple_form_for([@conversable, @conversation], remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% @conversation.comments.build if @conversation.comments.empty? %>
    <%= f.simple_fields_for :comments do |f_c| %>
      <%= f_c.input :comment, label: false,  input_html: {
        autofocus: true, rows: 2, class: 'span12',
        placeholder: Comment.human_attribute_name('comment') 
      } %>

      <%= f_c.button :submit %>
    <% end %>
  </div>
<% end %>
