<div class="row-fluid">
  <div class="span12">
    <dl style="word-wrap: break-word; height: 100px; overflow: auto;">
      <%= render @conversation.comments %>
    </dl>

    <%= simple_form_for([@conversation, @conversation.comments.build], remote: true) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :comment, label: false, input_html: {
          rows: 2, class: 'span12',
          placeholder: 'Mensaje'
        } %>
        
        <%= f.button :submit, 'Responder', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
