<% if @conversations.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @conversations.each do |conversation| %>
            <tr>
              <td><%= link_to_show conversation %></td>
              <td><%= link_to_edit edit_conversation_path(conversation) if can? :update, conversation %></td>
              <td><%= link_to_destroy conversation if can? :destroy, conversation %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@conversations) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.conversations.new', default: :'label.new'),
    new_conversation_path, class: 'btn btn-primary'
  ) if can? :create, Conversation %>
</div>
