<% id = f.object.object_id %>
<% if current_institution %>
  <%= f.input :institution_id, as: :hidden, input_html: { value: current_institution.id } %>
<% end %>
<fieldset>
  <div class="row">
    <% unless current_institution %>
      <div class="col-md-5">
        <% copy_attribute_errors(:institution_id, :auto_institution_name, f) %>
        <%= f.input :auto_institution_name, label: false,
          placeholder: Job.human_attribute_name('institution_id'),
          input_html: {
            id: "auto_institution_#{id}",
            value: f.object.institution.try(:label),
            autofocus: true,
            data: {
              'autocomplete-url' => institutions_path(format: :json),
              'autocomplete-id-target' => "#auto_institution_id_#{id}"
            }
          }
        %>
        <%= f.input :institution_id, as: :hidden, input_html: { id: "auto_institution_id_#{id}" } %>
      </div>
    <% end %>
    <div class="<%= current_institution ? 'col-md-10' : 'col-md-5' %>">
      <%= show_user_job_options(f) %>
    </div>
    <div class="col-md-2 nested-actions">
      <%= f.input :id, as: :hidden %>
      <%= f.input :lock_version, as: :hidden %>
      <% if current_institution.nil? || f.object.institution_id == current_institution.id %>
        <%= link_to_remove_nested_item(f) %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= f.input :description, label: false, input_html: {
        placeholder: Job.human_attribute_name('description')
      } %>
    </div>
  </div>
</fieldset>
