<%= simple_form_for(@user, defaults: { input_html: { class: 'span5' } }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="span6">
      <div class="form-inputs">
        <%= f.input :name, input_html: { autofocus: true, maxlength: 255 } %>
        <%= f.input :lastname, input_html: { maxlength: 255 } %>
        <%= f.input :email, required: true, input_html: { maxlength: 255 } %>

        <% if ['new', 'create'].include?(action_name) %>
          <%= f.input :password, required: true, input_html: { maxlength: 255 } %>
          <%= f.input :password_confirmation, input_html: { maxlength: 255 } %>
        <% end %>

        <%= f.input :avatar, hint: user_avatar_identifier(f.object) %>
        <%= f.input :avatar_cache, as: :hidden %>

        <% if can? :assign_roles, @user %>
          <label><%= User.human_attribute_name 'roles', count: 1 %></label>
          <%= show_user_roles_options(f) %>
        <% end %>
      </div>
    </div>
    
    <div class="span6">
      <div class="row-fluid form-inputs">
        <div class="span12">
          <h5><%= User.human_attribute_name 'jobs', count: @user.jobs.size %></h5>
        </div>

        <div class="row-fluid">
          <div id="jobs" class="span12">
            <% @user.jobs.build unless @user.jobs.detect(&:new_record?) %>
            <%= f.simple_fields_for :jobs do |j_f| %>
              <%= render partial: 'job', locals: { f: j_f } %>
            <% end %>

            <%= link_to_add_fields(t('view.users.new_job'), f, :jobs) unless current_institution %>
          </div>
        </div>
      </div>
      
      <div class="row-fluid form-inputs">
        <div class="span12">
          <h5><%= User.human_attribute_name 'kinships', count: 0 %></h5>
        </div>

        <div class="row-fluid">
          <div id="kinships" class="span12">
            <% @user.kinships.build %>
            <%= f.simple_fields_for :kinships do |j_f| %>
              <%= render partial: 'kinship', locals: { f: j_f } %>
            <% end %>

            <%= link_to_add_fields(t('view.users.new_kinship'), f, :kinships) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
