<%= simple_form_for @user, data: { form_user: true } do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-inputs">
        <%= f.input :email, required: true, input_html: {
          autofocus: true, maxlength: 255, data: {
            'disable-search' => current_institution.blank?,
            'url' => find_by_email_users_path
          }
        } %>
        <%= f.input :name, input_html: { maxlength: 255 } %>
        <%= f.input :lastname, input_html: { maxlength: 255 } %>

        <% if @user.new_record? %>
          <%= f.input :password, required: true, input_html: { maxlength: 255 } %>
          <%= f.input :password_confirmation, input_html: { maxlength: 255 } %>
        <% end %>

        <%= f.input :avatar, hint: user_avatar_identifier(f.object) %>
        <%= f.input :remove_avatar, as: :boolean, label: false, inline_label: true,
          input_html: { class: nil } if @user.avatar? && @user.avatar_cache.blank? %>
        <%= f.input :avatar_cache, as: :hidden %>

        <% if can? :assign_roles, @user %>
          <label><%= User.human_attribute_name 'roles', count: 1 %></label>
          <div class="control-group">
            <div class="controls">
              <%= show_user_roles_options(f) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <h5 style="margin-top: 0;">
        <strong>
          <%= User.human_attribute_name 'jobs', count: @user.jobs.size %>
        </strong>
      </h5>

      <div id="jobs">
        <%= f.simple_fields_for :jobs, user_jobs(@user) do |j_f| %>
          <%= render partial: 'jobs/job', locals: { f: j_f } %>
        <% end %>

        <%= link_to_add_fields(t('view.users.new_job'), f, :jobs, 'jobs/job') unless current_institution %>
      </div>

      <br />
      <h5>
        <strong>
          <%= User.human_attribute_name 'kinships', count: 0 %>
        </strong>
      </h5>

      <div id="kinships">
        <% @user.kinships.build %>
        <%= f.simple_fields_for :kinships do |j_f| %>
          <%= render partial: 'kinship', locals: { f: j_f } %>
        <% end %>

        <%= link_to_add_fields(t('view.users.new_kinship'), f, :kinships) %>
      </div>

      <br />
      <h5>
        <strong>
          <%= Group.model_name.human count: @user.groups.size %>
        </strong>
      </h5>

      <div id="groups">
        <% @user.memberships.build %>
        <%= f.simple_fields_for :memberships do |j_f| %>
          <%= render partial: 'membership', locals: { f: j_f } %>
        <% end %>

        <%= link_to_add_fields(t('view.groups.add_new'), f, :memberships) %>
      </div>
    </div>
  </div>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
