<% id = f.object.object_id %>
<fieldset class="row-fluid">
  <div class="span5">
    <% field_classes = ['autocomplete_field', 'span10'] %>
    <% copy_attribute_errors(:institution_id, :auto_institution_name, f) %>
    <%= f.input :auto_institution_name, label: false,
      placeholder: Job.human_attribute_name('institution_id'),
      input_html: {
        id: "auto_institution_#{id}",
        class: field_classes.join(' '),
        value: f.object.institution.try(:label),
        autofocus: true,
        data: {
          'autocomplete-url' => institutions_path(format: :json),
          'autocomplete-id-target' => "#auto_institution_id_#{id}"
        }
      }
    %>
    <%= f.input :institution_id, as: :hidden,
      input_html: { class: 'autocomplete_id', id: "auto_institution_id_#{id}" }
    %>
  </div>
  <div class="span5">
    <%= show_user_job_options(f) %>
  </div>
  <div class="span2 nested-actions">
    <%= f.input :id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= link_to_remove_nested_item(f) %>
  </div>
</fieldset>
