<% id = f.object.object_id %>
<fieldset class="row-fluid kinship">
  <div class="span5">
    <% field_classes = ['autocomplete_field', 'span10'] %>
    <% copy_attribute_errors(:relative_id, :auto_user_name, f) %>
    <%= f.input :auto_user_name, label: false,
      placeholder: Kinship.human_attribute_name('relative_id'),
      input_html: {
        id: "auto_user_#{id}",
        autofocus: true,
        class: field_classes.join(' '),
        value: f.object.relative.try(:label),
        data: {
          'autocomplete-url' => users_path(format: :json),
          'autocomplete-id-target' => "#auto_relative_id_#{id}"
        }
      }
    %>
    <%= f.input :relative_id, as: :hidden,
      input_html: { class: 'autocomplete_id', id: "auto_relative_id_#{id}" }
    %>
  </div>
  <div class="span5">
    <%= show_user_kinship_options(f) %>
  </div>
  <div class="span2 nested-actions">
    <%= f.input :id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= link_to_remove_nested_item(f) %>
  </div>
</fieldset>
