<% if @users.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-condensed resource-list" data-endless-container="true">
    <thead>
      <tr>
        <th><%= User.human_attribute_name 'name' %></th>
        <th><%= User.human_attribute_name 'lastname' %></th>
        <th>
          <span class="visible-lg">
            <%= User.human_attribute_name 'email' %>
          </span>
        </th>
        <th colspan="2">
          <div class="pull-right">
            <%= link_to(
              t('view.users.new', default: :'label.new'),
                new_user_path, class: 'btn btn-default btn-xs'
              ) if can? :create, User
            %>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <%= render @users %>
    </tbody>
  </table>

  <%= pagination_links(@users) %>
<% end %>

<nav class="form-actions form-footer">
  <%= link_to(
    t('view.users.new', default: :'label.new'),
    new_user_path, class: 'btn btn-primary'
    ) if can? :create, User
  %>
</nav>
