<table class="zebra-striped resource-list">
  <thead>
    <tr>
      <th><%= User.human_attribute_name 'name' %></th>
      <th><%= User.human_attribute_name 'lastname' %></th>
      <th><%= User.human_attribute_name 'email' %></th>
      <th colspan="2"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user, title: t('label.show') %></td>
        <td><%= link_to user.lastname, user, title: t('label.show') %></td>
        <td><%= mail_to user.email %></td>
        <td><%= link_to_edit edit_user_path(user) %></td>
        <td><%= link_to_destroy user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination_links(@users) %>

<nav class="actions">
  <%= link_to t('label.new'), new_user_path, class: 'btn primary' %>
</nav>