<% if @users.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list" data-endless-container="true">
        <thead>
          <tr>
            <th><%= User.human_attribute_name 'name' %></th>
            <th><%= User.human_attribute_name 'lastname' %></th>
            <th>
              <span class="visible-desktop">
                <%= User.human_attribute_name 'email' %>
              </span>
            </th>
            <th colspan="2">
              <%= link_to(
                  t('view.users.new', default: :'label.new'),
                  new_user_path, class: 'btn btn-mini'
                ) if can? :create, User
              %>
            </th>
          </tr>
        </thead>

        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@users) %>
<% end %>

<nav class="form-actions">
  <%= link_to(
    t('view.users.new', default: :'label.new'),
    new_user_path, class: 'btn btn-primary'
    ) if can? :create, User
  %>
</nav>
