<div class="readonly_data">
  <h2><%= @user %></h2>

  <p>
    <%= mail_to @user.email %>
  </p>

  <% if @user.role %>
    <p>
      <%= User.human_attribute_name 'roles', count: 1 %>:
      <strong><%= t("view.users.roles.#{@user.role}") %></strong>
    </p>
  <% end %>
</div>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_user_path(@user), class: 'btn btn-primary' %>
  <div class="pull-right">
    <%= link_to t('label.list'), users_path %>
  </div>
</nav>