<div class="row">
  <div class="public_form_container span10 offset3">
    <h2>Cambio de contrase単a</h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.input :reset_password_token, as: :hidden %>

      <%= f.input :password, label: 'Nueva contrase単a', input_html: { autofocus: true } %>
      <%= f.input :password_confirmation, label: 'Confirmar contrase単a' %>

      <%= f.button :submit, 'Cambiar mi contrase単a', class: 'primary' %>
    <% end %>

    <%= render partial: 'devise/shared/links' %>
  </div>
</div>