<div class="row">
  <div class="span4 hidden-phone">
    &nbsp;
  </div>
  <div class="public_form_container span4">
    <h3>Cambio de contrase単a</h3>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <div class="row-fluid">
        <div class="span12">
          <div class="form-inputs">
            <%= f.input :reset_password_token, as: :hidden %>

            <%= f.input :password, label: 'Nueva contrase単a', input_html: { autofocus: true, class: 'span12' } %>
            <%= f.input :password_confirmation, label: 'Confirmar contrase単a', input_html: { class: 'span12' } %>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= render partial: 'shared/hidden_submit', locals: { f: f } %>
        <%= show_button_dropdown(
          link_to('Cambiar mi contrase単a', '#', class: 'btn btn-primary submit'),
          devise_links_es
        ) %>
      </div>
    <% end %>
  </div>
</div>
