<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <h3 class="text-muted">Cambio de contrase単a</h3>

      <%= simple_form_for(
        resource, as: resource_name, url: password_path(resource_name),
        html: { method: :put }) do |f| %>

        <div class="form-inputs">
          <%= f.input :password, label: 'Nueva contrase単a', input_html: { autofocus: true } %>
          <%= f.input :password_confirmation, label: 'Confirmar contrase単a' %>
          <%= f.input :reset_password_token, as: :hidden %>
        </div>

        <div class="form-actions">
          <%= f.submit 'Cambiar mi contrase単a', class: 'btn btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
