<div class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <% if current_user %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>

      <%= link_to t('app_name'), root_url, class: 'navbar-brand' %>
    </div>

    <div class="collapse navbar-collapse" role="navigation">
      <% if current_user %>
        <ul class="nav navbar-nav">
          <%= render 'shared/menu_dropdowns/institutions' if current_user.institutions.count > 1 %>
          <%= show_menu_link(
            name: 'dashboard', controllers: 'dashboard', path: dashboard_path
          ) if current_institution && current_user.has_job_in?(current_institution) %>
          <%= render 'shared/menu_dropdowns/enrollments' if current_enrollments.present? %>
          <%= show_menu_link(
            name: 'users', controllers: 'users', path: users_path
          ) if can?(:read, User) &&
           ((current_user.is?(:admin) && !current_institution) ||
           (current_institution && current_user_is_janitor?)) %>
          <%= show_menu_link(
            name: 'regions', controllers: 'regions', path: regions_path
          ) if can?(:read, Region) && !current_institution %>
          <%= show_menu_link(
            name: 'institutions', path: institutions_path,
            controllers: ['institutions', 'grades', 'courses', 'teaches', 'scores']
          ) if can?(:read, Institution) && !current_institution %>
          <%= show_menu_link(
            name: 'groups', path: groups_path, controllers: ['groups']
          ) if can?(:read, Group) && current_institution %>
          <%= show_menu_link(
            name: 'news', path: news_index_path, controllers: ['news']
          ) if can?(:read, News) && current_institution %>
        </ul>
        <%= render 'shared/nav_search' %>
        <%= render 'shared/user_actions' %>
      <% else %>
        <%= render 'shared/news' if current_institution %>
        <%= render 'shared/brand' %>
      <% end %>
    </div>
  </div>
</div>
