<section id="unexpected_error" class="alert alert-warning">
  <header>
    <h2>No encontramos lo que estás buscando</h2>
  </header>

  <p>
    Si parece que es algo que deberíamos saber, envianos un correo:
    <a href="mailto:soporte@libreduca.com">soporte@libreduca.com</a>
  </p>

  <p>
    Podés <%= link_to 'volver', :back %> a donde estabas o a la
    <%= link_to 'página principal', root_url %>
  </p>
</section>

<% unless Rails.env.production? %>
  <section id="error_details">
    <header>
      <h3 class="well"><%= error.message %></h3>
    </header>

    <h4>Pila de llamadas</h4>
    <pre><%= error.backtrace.join("\n") %></pre>

    <h4>Parámetros</h4>
    <pre><%= params.try(:inspect) %></pre>
  </section>
<% end %>
