<div id="news_form">
  <%= simple_form_for(@news, defaults: { input_html: { class: 'span11' } }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title, input_html: { autofocus: true, maxlength: 255 } %>
      <%= f.input :description, input_html: { rows: 3 } %>
      <%= f.input :body, input_html: { rows: 4 } %>
      <%= f.input :published_at, as: :date_picker, input_html: { 
        value: l(@news.published_at, format: :shorter), class: 'span3' } %>

      <h5><%= News.human_attribute_name 'tags', count: @news.tags.size %></h5>
      <div id="tags">
        <% @news.taggings.build %>
        <%= f.simple_fields_for :taggings do |j_f| %>
          <%= render 'tags/tagging', :f => j_f, :@taggable => @news %>
        <% end %>

        <%= link_to_add_fields(t('view.news.new_tag'), f, :taggings, 'tags/tagging') %>
      </div>

      <%= f.input :lock_version, as: :hidden %>
    </div>

    <% if @news.new_record? %>
      <div class="form-actions">
        <div class="pull-right"><%= yield :form_actions %></div>
        <%= f.button :submit, class: 'btn-primary' %>
        <%= link_to t('view.images.new'), '#new_image_btn', id: 'new_image_btn', class: 'btn' %>
      </div>
    <% else %>
      <div class="form-inputs">
        <%= f.button :submit, class: 'btn-primary' %> 
      </div>
    <% end %>
  <% end %>

  <% if @news.persisted? %>
    <hr />
    <%= render partial: 'images/image_show', collection: @news.images, as: :image %>

    <%= render template: 'images/new', 
      locals: { :@image => @news.images.build, :@owner => @news } %>

    <div class="form-actions">
      <div class="pull-right"><%= yield :form_actions %></div>
    </div>
  <% end %>
</div>
