<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :title, input_html: { autofocus: true, maxlength: 255 } %>
    <%= f.input :description, input_html: { rows: 3 } %>
    <%= f.input :body, hint: markdown_help_link, input_html: { rows: 4 } %>
    <div class="row">
      <div class="col-md-4">
        <%= f.input :published_at, as: :date_picker, input_html: {
          value: l(@news.published_at, format: :shorter)
        } %>
      </div>
    </div>

    <h5>
      <strong>
        <%= News.human_attribute_name 'tags', count: @news.tags.size %>
      </strong>
    </h5>
    <div id="tags">
      <% @news.taggings.build %>
      <%= f.simple_fields_for :taggings do |j_f| %>
        <%= render 'tags/tagging', :f => j_f, :@taggable => @news %>
      <% end %>

      <%= link_to_add_fields t('view.news.new_tag'), f, :taggings, 'tags/tagging' %>
    </div>

    <%= f.input :lock_version, as: :hidden %>
  </div>

  <hr />

  <% if @news.new_record? %>
    <div class="form-actions form-footer">
      <div class="pull-right"><%= yield :form_actions %></div>
      <%= f.button :submit, class: 'btn btn-primary news-submit' %>
      <%= link_to t('view.images.new'), '#new_image_btn', id: 'new_image_btn', class: 'btn btn-primary' %>
    </div>
  <% else %>
    <div class="form-inputs form-footer">
      <%= f.button :submit, class: 'btn-primary news-submit' %>
    </div>
  <% end %>
<% end %>

<% if @news.persisted? %>
  <%= render partial: 'images/image_show', collection: @news.images, as: :image %>

  <%= render template: 'images/new',
    locals: { :@image => @news.images.build, :@owner => @news } %>

  <hr />

  <div class="form-actions form-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
  </div>
<% end %>
<%= render 'help/markdown_inline' %>
