<% active = controller_name == 'news' && action_name == 'index' %>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li <%= raw 'class="active"' if active && @news.current_page == 1 %>>
        <%= link_to t('view.news.news'), embedded_news_index_path %>
      </li>
      <% if News.count > News.per_page %>
        <li <%= raw 'class="active"' if active && @news.current_page == 2 %>>
          <%= link_to t('view.news.previous_news'), 
            embedded_news_index_path(2) %>
        </li>
      <% end %>
    </ul>    
    <% unless user_signed_in? %>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('menu.actions.login') %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%= render template: 'devise/sessions/new_miniform' %>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</div>

<% unless user_signed_in? %>
<div class="alert alert-warning centered">
  <span>
    Para ver imagenes y comentar haga click en <span class="badge">Ingresar</span>
  </span>
</div>
<% end %>
