<% columns = 2 %>
<% if @news.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <% @news.each_slice(columns) do |news_row| %>
    <div class="row-fluid">
      <% news_row.each do |news| %>
        <div class="span6">
          <h3><%= link_to news.title, news %></h3>
          <p class="muted">
            <%= truncate(news.description, length: 90, omission: '...') %>
          </p>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% unless request.xhr? %>
  <%= pagination_links(@news) %>

  <div class="form-actions">
    <%= link_to(
      t('view.news.new', default: :'label.new'),
      new_news_path, class: 'btn btn-primary'
    ) if can? :create, News %>
  </div>
<% end %>
