<% columns = 2 %>
<% if @news.empty? && !is_embedded? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="readonly-data">
    <%= render 'navbar' %>
    <% @news.each_slice(columns) do |news_row| %>
      <div class="row-fluid">
        <ul class="thumbnails">
          <% news_row.each do |news| %>
            <li class="span6">
              <div class="thumbnail">
                <div class="clearfix">
                  <% unless news.tags.empty? %>
                  <div class="pull-left badge badge-<%= @tag.try(:category) || news.taggings.first.tag.category %>">
                    <%= @tag || news.taggings.first.tag %>
                  </div>
                  <% end %>
                </div>
                <div class="caption">
                  <h4 class="text-info"><%= link_to news.title, embedded_news_path(news) %></h4>
                  <%= markdown news.description %>
                </div>
              </div>
              <p class="muted">
                <span><%= l news.published_at.to_date, format: :long %>
                | <%= link_to_comments(news,
                  news_path(news, embedded: params[:embedded], anchor: 'comments-header')) %>
                </span>
              </p>
              <% if user_signed_in? && !news.images.empty? %>
              <div>
                <%= link_to image_tag(news.images.first.file_url(:normal)), embedded_news_path(news) %>
              </div>
              <% end %>
              <hr />
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if @news.current_page > 1 %>
      <%= pagination_links(@news) %>
    <% end %>
  </div>
<% end %>

<% unless is_embedded? %>
  <div class="form-actions">
  <%= link_to(
    t('view.news.new', default: :'label.new'),
    new_news_path, class: 'btn btn-primary'
  ) if can? :create, News %>
  </div>
<% end %>
