<div class="readonly-data">
  <div class="page-header">
    <h1 class="text-info"><%= @news %></h1>

    <% if @news.description.present? %>
      <%= markdown @news.description %>
    <% end %>
  </div>

  <div class="media">
    <% if @news.images.present? %>
      <div class="pull-left launch-modal">
        <a href="#modal-carousel" data-toggle="modal">
          <%== @news.images.first.to_html(:normal) %>
        </a>
        <span class="badge zoom"><%= link_to_zoom '#modal-carousel' %></span>
        <%= render 'images/modal_carousel', :@images => @news.images %>
      </div>
    <% end %>

    <% if @news.body.present? %>
      <p class="muted"><%= l @news.created_at, format: :longer %></p>
      <%= markdown @news.body %>
    <% end %>
  </div>

  <hr />
  <h3><%= Comment.model_name.human(count: @news.comments.size) %></h3>

  <%= render partial: 'comments/comment', collection: @news.comments %>

  <%= render template: 'comments/new', locals: { :@comment => @news.comments.build, :@commentable => @news } %>
</div>

<div class="form-actions">
  <%= link_to(
    t('label.edit'), edit_news_path(@news), class: 'btn btn-primary'
  ) if can? :update, @news %>

  <div class="pull-right">
    <%= link_to t('label.list'), news_index_path %>
  </div>
</div>
