<div class="readonly-data">
  <div class="page-header">
    <h1 class="text-info"><%= @news %></h1>

    <hr />
    <% if @news.description.present? %>
      <h3><%= @news.description %></h3>
    <% end %>
    <% if @news.body.present? %>
      <p><%= markdown @news.body %></p>
    <% end %>
  </div>

  <h4><%= @news.description %></h4>

  <p><%= @news.body %></p>

  <hr />
  <h3><%= Comment.model_name.human(count: @news.comments.size) %></h3>

  <%= render partial: 'comments/comment', collection: @news.comments %>

  <%= render template: 'comments/new', locals: { :@comment => @news.comments.build, :@commentable => @news } %>
</div>
<div class="form-actions">
  <%= link_to(
    t('label.edit'), edit_news_path(@news), class: 'btn btn-primary'
  ) if can? :update, @news %>

  <div class="pull-right">
    <%= link_to t('label.list'), news_index_path %>
  </div>
</div>
