<fieldset class="row-fluid">
  <div class="span12 block-container">
    <div id="container_block_id_<%= f.object.id %>" class="content">
      <%= markdown(f.object.content || '') %>
    </div>
    <div class="nested-actions grouped-actions push-right">
      <% if current_user && (can? :create, Block) %>
        <%= f.input :id, input_html: { id: "block_hidden_id_#{f.object.id}" }, as: :hidden %>
        <%= f.input :lock_version, input_html: { id: "lock_version_#{f.object.id}" }, as: :hidden %>
        <div class="hidden-actions">
          <%= f.button :submit, t('view.blocks.save'), class: 'hide save-action' %>
          <%=
            link_to '&#x270e;'.html_safe, polymorphic_path([@page, f.object], action: :edit),
            class: 'iconic edit-btn edit-action',
            remote: true, title: t('view.blocks.edit'), data: { show_tooltip: true } if f.object.persisted?
          %>
          <%= link_to_remove_nested_item(f,t('view.blocks.confirmable')) %>
        </div>
      <% end %>
  </div>
  </div>
</fieldset>