<%
  tagging = f.object
  id = tagging.object_id
  tagging.build_tag unless tagging.tag
%>
<fieldset>
  <div class="row">
    <%= f.simple_fields_for :tag do |f_t| %>
      <div class="col-md-5">
        <% field_classes = ['autocomplete_field'] %>
        <%= f_t.input :name, label: false,
          placeholder: Tag.human_attribute_name('name'),
          input_html: {
            id: "auto_tag_name_#{id}",
            value: tagging.tag.name,
            autofocus: true,
            class: field_classes.join(' '),
            data: {
              'autocomplete-url' => tags_path(format: :json, type: @taggable.class.to_s),
              'autocomplete-id-target' => ".tag_id_#{id}",
              'autocomplete-min-length' => '2'
            }
          }
        %>
        <%= f.input :tag_id, as: :hidden,
          input_html: { class: "autocomplete_id tag_id_#{id}" }
        %>
      </div>
      <div class="col-md-5 color_chooser">
        <div class="btn-group">
          <% Tag::CATEGORIES.each do |c| %>
            <div class="tag_color_chooser btn btn-<%= c == 'important' ? 'danger' : c %>
              <%= 'selected' if tagging.tag.category == c %>">
              <span class="iconic"><%= '&#x2713;'.html_safe %></span>
              <%= f_t.radio_button :category, c %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-2">
        <%= f_t.input :tagger_type, as: :hidden, input_html: { value: @taggable.class.to_s } %>
        <%= f_t.input :id, as: :hidden, input_html: { class: "autocomplete_id tag_id_#{id}" } %>
        <%= link_to_remove_nested_item(f) %>
      </div>
    <% end %>
  </div>
</fieldset>
