<div class="row">
  <div class="public_form_container span8 offset4">
    <h2>Inicio de sesión</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :inline) do |f| %>
      <%= f.input :email, input_html: { autofocus: true } %>
      <%= f.input :password %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      
      <%= f.button :submit, 'Ingresar', class: 'primary' %>
    <% end %>

    <%= render partial: 'devise/shared/links' %>
  </div>
</div>