<fieldset>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :content, label: false, input_html: {
        autofocus: true, placeholder: Question.human_attribute_name('content')
      } %>
    </div>
    <div class="col-md-4">
      <%= show_question_type_select(f) %>
    </div>
    <div class="col-md-2 nested-actions">
      <%= f.input :id, as: :hidden %>
      <%= f.input :lock_version, as: :hidden %>
      <%= link_to_remove_nested_item(f) %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <%= f.input :hint, label: false, input_html: {
        placeholder: Question.human_attribute_name('hint'), rows: 2
      } %>
    </div>
  </div>
  <div data-question-type-template>
    <%= render "surveys/question_type_templates/#{f.object.question_type}", f: f %>
  </div>
  <br />
</fieldset>
