<fieldset>
  <div class="row-fluid">
    <div class="span6">
      <%= f.input :content, label: false, input_html: {
        autofocus: true, class: 'span11', placeholder: Question.human_attribute_name('content')
      } %>
    </div>
    <div class="span4">
      <%= show_question_type_select(f) %>
    </div>
    <div class="span2 nested-actions">
      <%= f.input :id, as: :hidden %>
      <%= f.input :lock_version, as: :hidden %>
      <%= link_to_remove_nested_item(f) %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10" data-question-type-template>
      <%= render "surveys/question_type_templates/#{f.object.question_type}", f: f %>
    </div>
  </div>
</fieldset>
