<% if @surveys.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Content.model_name.human(count: 1) %></th>
        <th><%= Question.model_name.human(count: 0) %></th>
        <th><%= Reply.model_name.human(count: 0) %></th>
      </tr>
    </thead>

    <tbody>
      <% @teach.contents.each do |content| %>
        <tr>
          <td><%= content %></td>
          <td><%= content.questions.count %></td>
          <td><%= content.replies.count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to(
    t('label.download_with_format.html', file_format: 'CSV'),
    teach_surveys_path(@teach, format: :csv),
    class: 'btn'
  ) %>
<% end %>
