<%= render 'breadcrumb', :@teach => @content.teach if @content %>

<h2><%= @survey %></h2>

<% @survey.questions.each do |question| %>
  <p><strong><%= question %></strong></p>
  <%= render "surveys/question_type_show_templates/#{question.question_type}", :@question => question %>
<% end %>

<hr />

<div class="form-actions">
  <%= link_to t('label.back_to', place: @content), [@content.teach, @content] if @content %>
  <div class="pull-right">
    <%= link_to_edit(
      polymorphic_path([@content || @teach, @survey], action: :edit)
    ) if can? :update, @survey %> |
    <%= link_to(
      t('label.list'), polymorphic_path([@teach || @content, Survey])
    ) %>
  </div>
</div>
