<div class="readonly_data">
  <h2><%= @school %></h2>
  <p>
    <b><%= School.human_attribute_name 'district_id' %></b>:
    <%= @school.district %>
  </p>
  
  <% if @school.grades.empty? %>
    <%= link_to t('view.grades.new'), new_school_grade_path(@school), class: 'btn btn-mini btn-inverse' %>
  <% else %>
    <div class="page-header">
      <h5>
        <%= link_to Grade.model_name.human(count: @school.grades.size), school_grades_path(@school) %>
        <span class="divider">|</span>
        <%= link_to t('view.grades.new'), new_school_grade_path(@school), class: 'btn btn-mini' %>
      </h5>
    </div>
    
    <ul>
      <% @school.grades.each do |grade| %>
        <li><%= link_to grade.to_s, [@school, grade] %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_school_path(@school), class: 'btn btn-primary' %>
  <div class="pull-right">
    <%= link_to t('label.list'), schools_path %>
  </div>
</nav>