<div class="readonly-data">
  <h2><%= @school %></h2>
  <p>
    <b><%= School.human_attribute_name 'district_id' %></b>:
    <%= @school.district %>
  </p>
  
  <% if @school.grades.empty? %>
    <%= link_to t('view.grades.new'), new_school_grade_path(@school), class: 'btn btn-mini btn-inverse' if can? :create, @school.grades.build %>
  <% else %>
    <h3>
      <%= link_to_if can?(:read, Grade), Grade.model_name.human(count: @school.grades.size), school_grades_path(@school) %>
      <% if can? :create, @school.grades.build %>
        <span class="divider">|</span>
        <%= link_to t('view.grades.new'), new_school_grade_path(@school), class: 'btn btn-mini' %>
      <% end %>
    </h3>
    
    <ul>
      <% @school.grades.reject!(&:new_record?).each do |grade| %>
        <li><%= link_to_if can?(:read, grade), grade.to_s, [@school, grade] %></li>
      <% end %>
    </ul>
  <% end %>
  
  <% unless @school.workers.exclude_studens.empty? %>
    <h3>
      <%= School.human_attribute_name('workers', count: @school.workers.exclude_studens.size) %>
    </h3>
    
    <ul>
      <% @school.workers.exclude_studens.each do |worker| %>
        <li>
          <%= t(
            'view.schools.worker_role.html',
            worker: link_to_if(can?(:read, worker.user), worker.user.to_s, worker.user),
            role: show_human_job_type(worker.job)
          )%>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_school_path(@school), class: 'btn btn-primary' if can? :update, @school %>
  <% if can? :read, School %>
    <div class="pull-right">
      <%= link_to t('label.list'), schools_path %>
    </div>
  <% end %>
</nav>