<%= render 'breadcrumb' %>

<div class="readonly_data">
  <h2><%= @course %></h2>
  
  <% if @course.teaches.empty? %>
    <%= link_to t('view.teaches.new'), new_course_teach_path(@course), class: 'btn btn-mini btn-inverse' %>
  <% else %>
    <h3>
      <%= link_to Teach.model_name.human(count: @course.teaches.size), course_teaches_path(@course) %>
      <span class="divider">|</span>
      <%= link_to t('view.teaches.new'), new_course_teach_path(@course), class: 'btn btn-mini' %>
    </h3>
    
    <ul>
      <% @course.teaches.each do |teach| %>
        <li><%= link_to teach.to_s, [@course, teach] %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_grade_course_path(@grade, @course), class: 'btn btn-primary' %>
  <div class="pull-right">
    <%= link_to t('label.list'), grade_courses_path(@grade) %>
  </div>
</nav>