<%= simple_form_for(@region) do |f| %>
  <%= content_for :js_extra do %>
    <%= raw "var district='#{generate_template(f, :districts)}';" %>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { autofocus: true, maxlength: 255 } %>
  </div>

  <div class="form-inputs">
    <h6><%= District.model_name.human(count: 0) %></h6>

    <table class="table">
      <thead>
        <tr>
          <th><%= District.human_attribute_name 'name' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody id="districts">
        <% @region.districts.build %>
        <%= f.simple_fields_for :districts do |d_f| %>
          <%= render partial: 'district', locals: { f: d_f } %>
        <% end %>
      </tbody>
    </table>
    
    <div class="pull-right">
      <%= link_to t('view.regions.new_district'), '#',
        data: {
          'dynamic-form-event' => 'addNestedItem',
          'dynamic-template' => 'district',
          'dynamic-container' => '#districts',
          'show-tooltip' => true
        }, class: 'btn btn-small', title: t('view.regions.new_district') %>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
