<% if @regions.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Region.human_attribute_name 'name' %></th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @regions.each do |region| %>
            <tr>
              <td><%= link_to_if can?(:read, region), region.name, region, title: t('label.show') %></td>
              <td><%= link_to_edit edit_region_path(region) if can? :update, region %></td>
              <td><%= link_to_destroy region if can? :destroy, region %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@regions) %>
<% end %>

<nav class="form-actions">
  <%= link_to(
    t('view.regions.new', default: :'label.new'),
    new_region_path, class: 'btn btn-primary'
    ) if can? :create, Region
  %>
</nav>
