<div class="readonly_data">
  <h2><%= @region %></h2>
  
  <% unless @region.districts.empty? %>
    <div class="page-header">
      <h6><%= District.model_name.human(count: @region.districts.size) %></h6>
    </div>
    
    <ul>
      <% @region.districts.each do |district| %>
        <li><%= district %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_region_path(@region), class: 'btn btn-primary' %>
  <div class="pull-right">
    <%= link_to t('label.list'), regions_path %>
  </div>
</nav>