<h2><%= @region %></h2>

<% unless @region.districts.empty? %>
  <br />
  <h6>
    <strong>
      <%= District.model_name.human(count: @region.districts.size) %>
    </strong>
  </h6>

  <ul>
    <% @region.districts.each do |district| %>
      <li><%= district %></li>
    <% end %>
  </ul>
<% end %>

<hr />

<nav class="form-actions">
  <%= link_to(
    t('label.edit'), edit_region_path(@region), class: 'btn btn-primary'
  ) if can? :update, @region %>

  <% if can? :read, Region %>
    <div class="pull-right">
      <%= link_to t('label.list'), regions_path %>
    </div>
  <% end %>
</nav>
