<%= simple_form_for([@owner, @image].compact, remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs row-fluid">
    <div class="span4">
      <%= f.input :name, input_html: { class: 'span11', autofocus: true, maxlength: 255 } %>
    </div>
    <div class="span6">
      <%= f.input :file, hint: image_file_identifier(@image), input_html: {
        data: {
          'fileupload' => true,
          'fileupload-types' => ['jpg', 'jpeg', 'png', 'gif'].to_json,
          'fileupload-autosubmit' => true,
          'fileupload-error-message' => "#image-file-error"
        }
      } %>

      <p id="image-file-error" class="text-error" style="display: none;">
        <%= t('view.images.file_type_error') %>
      </p>
    </div>
  </div>

  <div class="form-inputs">
    <%= f.input :file_cache, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, t('view.images.load') %>
  </div>

  <%= render 'shared/template_upload' %>
<% end %>

