<%= simple_form_for([@owner, @image].compact, remote: true) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :name, input_html: { autofocus: true, maxlength: 255 } %>
      </div>
      <div class="col-md-6">
        <%= f.input :file, hint: image_file_identifier(@image), input_html: {
          data: {
            'fileupload' => true,
            'fileupload-types' => ['jpg', 'jpeg', 'png', 'gif'].to_json,
            'fileupload-autosubmit' => true,
            'fileupload-error-message' => "#image-file-error"
          }
        } %>

        <p id="image-file-error" class="text-danger" style="display: none;">
          <%= t('view.images.file_type_error') %>
        </p>
      </div>
    </div>

    <%= f.input :file_cache, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= f.button :submit, t('view.images.load'), class: 'btn-default' %>
  </div>

  <% if controller_name == 'images' && !request.xhr? %>
    <hr />
    <div class="form-actions">
      <%= link_to t('label.list'), images_path, title: t('label.list') %>
    </div>
  <% end %>

  <%= render 'shared/template_upload' %>
<% end %>
