<div id="modal-carousel" class="modal fade" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="carousel-show-images" class="carousel slide">
          <div class="carousel-inner">
            <% @images.each_with_index do |image, idx| %>
              <div class="item <%= idx == 0 ? 'active' : '' %>">
                <%== image.to_html(:large) %>
                <div class="carousel-caption">
                  <h1><%= image.name %></h1>
                </div>
              </div>
            <% end %>
          </div>
          <% if @images.count > 1 %>
            <ol class="carousel-indicators">
              <% @images.each_with_index do |image, idx| %>
                <li data-target="#carousel-show-images"
                data-slide-to="<%= idx %>" <%== 'class="active"' if idx == 0 %>>
                </li>
              <% end %>
            </ol>

            <a class="left carousel-control" href="#carousel-show-images" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-show-images" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <%= t('label.close') %>
        </button>
      </div>
    </div>
  </div>
</div>
