<% columns = 2 %>
<% if @images.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <% columns.times do %>
              <th><span class="visible-desktop"><%= Image.human_attribute_name 'name' %></span></th>
              <th><%= Image.human_attribute_name 'file' %></th>
              <th colspan="3"></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @images.each_slice(columns) do |images| %>
            <tr>
              <% images.each do |image| %>
                <td><span class="visible-desktop"><%= image.name %></span></td>
                <td><%= image_tag image.file.micro_thumb, alt: image.name %></td>
                <td><%= link_to_show image %></td>
                <td><%= link_to_edit edit_image_path(image) if can? :update, image %></td>
                <td><%= link_to_destroy image if can? :destroy, image %></td>
              <% end %>

              <% size = images.size %>
              <% while size < columns %>
                <td colspan="5">&nbsp;</td>
                <% size += 1 %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@images) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.images.new', default: :'label.new'),
    new_image_path, class: 'btn btn-primary'
  ) if can? :create, Image %>
</div>
