<% if @images.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Image.human_attribute_name 'name' %></th>
            <th><%= Image.human_attribute_name 'file' %></th>
            <th><%= Image.human_attribute_name 'content_type' %></th>
            <th><%= Image.human_attribute_name 'file_size' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @images.each do |image| %>
            <tr>
              <td><%= image.name %></td>
              <td><%= image.file %></td>
              <td><%= image.content_type %></td>
              <td><%= image.file_size %></td>
              <td><%= link_to_show image %></td>
              <td><%= link_to_edit edit_image_path(image) if can? :update, image %></td>
              <td><%= link_to_destroy image if can? :destroy, image %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= pagination_links(@images) %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.images.new', default: :'label.new'),
    new_image_path, class: 'btn btn-primary'
  ) if can? :create, Image %>
</div>
