<!doctype html>
<!--[if lt IE 8]> <html class="lt-ie8"> <![endif]-->
<!--[if gt IE 7]><!--> <html lang="<%= locale %>"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', data: { turbolinks_track: true }, media: 'all' %>
  <%= javascript_include_tag 'application', data: { turbolinks_track: true } %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag 'application-ie', data: { turbolinks_track: true } %>
  <![endif]-->
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>
  <div class="alert alert-warning hidden loading-caption">
    <strong><%= t 'navigation.loading' %></strong>
  </div>
  <div class="container">
    <%= render 'shared/compatibility_warning' %>
    <%= render 'shared/menu' %>
    <%= render 'shared/flash' if flash_message.present? %>
    <%= yield %>
  </div>
</body>
</html>
