<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', data: { 'turbolinks-track' => true } %>
  <%= javascript_include_tag 'application', data: { 'turbolinks-track' => true } %>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body id="c_<%= controller_name %>" class="embedded" data-action="<%= action_name %>">
  <div id="loading_caption" class="alert" style="display: none;">
    <strong><%= t 'label.loading' %></strong>
  </div>

  <div class="content"><%= yield %></div>

  <%= render 'shared/notice' if flash.notice %>
  <%= render 'shared/alert' if flash.alert %>
</body>
</html>
